@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Hello world from Venkata Telaprolu!</h2>
    <h2>Hello world from Brian Hammond!</h2>
</body>
</html>